<aside>
<table align="right">
<tr><th>{{isolabel_ext}}</th></tr>
<tr><td>
Doador: <a rel="external" target="_doador" href="{{url}}">{{legalName}}</a><br/>
<small>{{vat_id}}</small> • <a rel="external" target="_doador" href="https://www.wikidata.org/wiki/Q{{wikidata_id}}">Q{{wikidata_id}}</a></small><br/>
Obtido via <i>{{uri_objtype}}</i> em <b>{{accepted_date}}</b><br/>
Avaliação técnica: {{user_resp}}<br/>
Representação institucional: Thierry<br/>
{{#license}}Licença: <b>{{license}}</b>{{/license}}
</td></tr>
</table>
</aside>

<section>

# Camadas de dados
{{#layers}}
{{#value}}
## <img src="https://raw.githubusercontent.com/digital-guard/preserv/main/docs/assets/layerIcon-{{layername_root}}.png" alt="{{layername_root}}" width="20"/> {{layername_root}}

{{#file_data}}
Nome do arquivo: `{{orig_filename}}`.<br/>
Download: <a title="SHA256" href="http://dl.digital-guard.org/{{file_data.file}}">{{file_data.file}}</a><br/>
{{#file_data.name}}Descrição: {{file_data.name}}<br/>{{/file_data.name}}
{{#file_data.comments}}Comentário: {{file_data.comments}}<br/>{{/file_data.comments}}
{{#file_data.size}}Tamanho do arquivo: {{file_data.size}}<br/>{{/file_data.size}}
{{/file_data}}
{{#srid}}SRID: {{srid}}{{/srid}}

{{#has_standardized_fields}}
### Dados relevantes
{{#standardized_fields}}
* `{{name}}` ({{standard}}){{#comment}}: {{comments}}{{/comment}}
{{/standardized_fields}}
{{/has_standardized_fields}}
{{#has_other_fields}}
### Outros dados relevantes
{{#other_fields}}
* `{{name}}`{{#comment}}: {{comment}}{{/comment}}
{{/other_fields}}
{{/has_other_fields}}

{{#value.test_evidence}}
### Evidência de teste
<img src="{{value.test_evidence}}" width="400"/>
{{/value.test_evidence}}

{{#value.comments}}
### Comentários
{{value.comments}}
{{/value.comments}}

{{#value.publication_summary}}
### Dados publicados
({{bytes}} bytes • {{bytes_mb}} <abbr title="mebibyte">MiB</abbr>)<br />
{{itens}} {{geom_type}}{{^isGeoaddress}}, totalizando {{size}} <abbr title="{{geom_unit_ext}}">{{geom_unit_abr}}</abbr> de {{geom_type}};<br/>densidade média de {{avg_density}} {{geom_type}}/km².{{/isGeoaddress}}{{#isGeoaddress}};<br/>densidade média de {{avg_density}} {{geom_type}}/km².{{/isGeoaddress}}
{{/value.publication_summary}}
{{/value}}
{{/layers}}

{{#test_evidence}}
# Evidências de teste
<img src="{{test_evidence}}" width="400"/>
{{/test_evidence}}

{{#comments}}
# Comentários gerais
{{comments}}
{{/comments}}

{{#has_other_files}}
# Outros dados relevantes
{{#other_files}}
* `{{name}}`{{#other_files.0.comments}}: {{other_files.0.comments}}{{/other_files.0.comments}}
{{/other_files}}
{{/has_other_files}}
{{#has_to-do}}
# Tarefas
{{#to-do}}
* {{.}}
{{/to-do}}
{{/has_to-do}}
</section>
