<aside style="float:right;">
<h1>{{isolabel_ext}}</h1>
<p>Dados doados por <a rel="external" target="_doador" href="{{url}}">{{legalName}}</a> (<small>{{vat_id}} • Wikidtata <a rel="external" target="_doador" href="https://www.wikidata.org/wiki/Q{{wikidata_id}}">Q{{wikidata_id}}</a></small>).</p>
<p>Pacote obtido por <i>{{uri_objtype}}</i> em <b>{{accepted_date}}</b>, sob testemunho e tutela de {{user_resp}} (avaliação técnica) e Thierry (representação institucional), que confirmaram com Fulano{{#license}} a licença <b>{{license}}</b>{{/license}}.</p>
</aside>

<section style="float:left;">

# Camadas de dados
{{#layers}}
{{#value}}
## {{layername_root}}

Nome do arquivo: `{{orig_filename}}`.
Download: <a title="SHA256" href="http://dl.digital-guard.org/{{sha256file}}">{{sha256file}}</a>
{{#sha256file_name}}Name; {{sha256file_name}}{{/sha256file_name}}
{{#sha256file_comments}}Comentário: {{sha256file_comments}}{{/sha256file_comments}}
{{#srid}}SRID: {{srid}}{{/srid}}

{{#has_standardized_fields}}
### Dados relevantes
{{#standardized_fields}}
* `{{name}}` ({{standard}}){{#comment}}: {{comments}}{{/comment}}
{{/standardized_fields}}
{{/has_standardized_fields}}
{{#has_other_fields}}
### Outros dados relevantes
{{#other_fields}}
* `{{name}}`{{.}} {{#comment}}: {{comment}}{{/comment}}
{{/other_fields}}
{{/has_other_fields}}

{{#value.test_evidence}}
### Evidência de teste
![]({{value.test_evidence}})
{{/value.test_evidence}}

{{#value.comments}}
### Comentários
{{value.comments}}
{{/value.comments}}

{{#value.publication_summary}}
### Dados publicados
({{bytes}} bytes • {{bytes_mb}} <abbr title="mebibyte">MiB</abbr>)<br />
{{itens}} {{geom_type}}{{^isGeoaddress}}, totalizando {{size}} <abbr title="{{geom_unit_ext}}">{{geom_unit_abr}}</abbr> de {{geom_type}};<br/>densidade média de {{avg_density}} {{geom_type}}/km².{{/isGeoaddress}}{{#isGeoaddress}};<br/>densidade média de {{avg_density}} {{geom_type}}/km².{{/isGeoaddress}}
{{/value.publication_summary}}
{{/value}}
{{/layers}}

{{#test_evidence}}
# Evidências de teste
![]({{test_evidence}})
{{/test_evidence}}

{{#comments}}
# Comentários gerais
{{comments}}
{{/comments}}

{{#has_other_files}}
# Outros dados relevantes
{{#other_files}}
* `{{name}}`{{#other_files.0.comments}}: {{other_files.0.comments}}{{/other_files.0.comments}}
{{/other_files}}
{{/has_other_files}}
{{#has_to-do}}
# Tarefas
{{#to-do}}
* {{.}}
{{/to-do}}
{{/has_to-do}}
</section>
